:root {
  /* SITE COLOR */
  --bg-top: #141922;
  --bg-aside: #000000;
  --bg-footer: #282828;
  --text-off: #474b51;
}

/*
! *************************
!    RESET AND GENERICS   *
! *************************
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.content-top {
  height: calc(100vh - 100px);
  background-color: var(--bg-top);
}

footer {
  height: 100px;
  background-color: var(--bg-footer);
}

img {
  max-width: 100%;
}

p {
  color: var(--text-off);
  font-size: 0.8rem;
  font-weight: 600;
}

.content-top {
  display: flex;
}

#nav-menu {
  width: 300px;
  background-color: var(--bg-aside);
}

header + * {
  padding-top: 100px;
}

.row {
}

.col {
  padding: 1rem;
}

/*
! *************************
!           DEBUG         *
! *************************
*/

.bordered {
  border: 2px dashed red;
}

/*
! *************************
!           UTILS         *
! *************************
*/

.flex {
  display: flex;
}

.f-end {
  justify-content: flex-end;
}

.title-2 {
  font-size: 1.5rem;
}

/*
! *************************
!       SECTION SITE      *
! *************************
*/
/* ? MAIN SECTION */

#main-section {
  width: calc(100% - 300px);
  overflow: auto;
}

/* ? HEADER */

header {
  height: 100px;
  background-color: black;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 300px;
  right: 0;
  z-index: 10;
}

header {
  align-items: center;
  padding-right: 20px;
}

.button-header {
  text-decoration: none;
  font-size: 0.7rem;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 40px;
  border-radius: 3rem;
  font-weight: 800;
}

.button-header:hover {
  transform: scale(1.2);
}

/* ? EVIDENCE-MENU */

.evidence-link {
  text-align: center;
}

.evidence-link li,
a {
  display: inline-block;
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--text-off);
  font-weight: 800;
  padding: 10px 5px;
}

/* ? GRID SECTION */

.grid-section {
  padding: 0 1rem;
}

.card {
  text-align: center;
}

.card h3 {
  font-size: 1rem;
}

/*
! *************************
!        RESPONSIVE       *
! *************************
*/
/* ? MEDIUM */

@media screen and (max-width: 992px) {
  .row {
    flex-wrap: wrap;
  }
}

/* ? SMALL*/

@media screen and (max-width: 768px) {
}

/* ? EXTRASMALL*/

@media screen and (max-width: 576px) {
}
