:root {
  /* SITE COLOR */
  --bg-top: #141922;
  --bg-aside: #000000;
  --bg-footer: #282828;
}

/*
! *************************
!    RESET AND GENERICS   *
! *************************
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.content-top {
  height: calc(100vh - 100px);
  background-color: var(--bg-top);
}

footer {
  height: 100px;
  background-color: var(--bg-footer);
}

.content-top {
  display: flex;
}

.col-l {
  width: 300px;
  background-color: var(--bg-aside);
}

/*
! *************************
!           UTILS         *
! *************************
*/

.flex {
  display: flex;
}

.f-end {
  justify-content: flex-end;
}

/*
! *************************
!       SECTION SITE      *
! *************************
*/

/* ? HEADER */

header {
  height: 100px;
  background-color: black;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 300px;
  right: 0;
  z-index: 10;
}

header {
  align-items: center;
  padding-right: 20px;
}

.button-header {
  text-decoration: none;
  font-size: 0.7rem;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 40px;
  border-radius: 3rem;
}

.button-header:hover {
  transform: scale(1.2);
}

/*
! *************************
!        RESPONSIVE       *
! *************************
*/
