:root {
  /* SITE COLOR */
  --bg-top: #141922;
  --bg-aside: #000000;
  --bg-footer: #282828;
  --text-off: #5b5f64;
  --text-on: #ffffff;
  --text-green: #57fb26;
}

/*
! *************************
!    RESET AND GENERICS   *
! *************************
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.content-top {
  height: calc(100vh - 100px);
  background-color: var(--bg-top);
}

footer {
  height: 100px;
  background-color: var(--bg-footer);
}

img {
  max-width: 100%;
}

h4 {
  color: var(--text-off);
  font-size: 0.8rem;
}

.content-top {
  display: flex;
}

#nav-menu {
  width: 300px;
  background-color: var(--bg-aside);
}

.row {
  margin-left: -1rem;
  margin-right: -1rem;
}

.col {
  width: calc(100% / 6);
  padding: 1rem;
}

/*
! *************************
!           DEBUG         *
! *************************
*/

.bordered {
  border: 2px dashed red;
}

/*
! *************************
!           UTILS         *
! *************************
*/

.flex {
  display: flex;
}

.f-end {
  justify-content: flex-end;
}

.title-2 {
  font-size: 1.5rem;
}

/*
! *************************
!       SECTION SITE      *
! *************************
*/
/* ? MAIN SECTION */

#main-section {
  width: 100%;
  overflow: auto;
}

/* ? HEADER */

header {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  align-items: center;
  padding-right: 20px;
}

.button-header {
  text-decoration: none;
  font-size: 0.7rem;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 10px 40px;
  border-radius: 3rem;
  font-weight: 800;
}

.button-header:hover {
  transform: scale(1.1);
}

/* ? EVIDENCE-MENU */

.evidence-link {
  text-align: center;
}

.evidence-link li,
a {
  display: inline-block;
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--text-off);
  font-weight: 800;
  padding: 10px 5px;
}

.evidence-link li,
a:hover {
  color: var(--text-on);
}

/* ? GRID SECTION */

.grid-section {
  padding: 0 1rem;
}

.grid-section h2 {
  padding: 1rem 0;
}

.grid-section h3,
h4 {
  padding: 5px 0;
}

.card {
  text-align: center;
}

.card h3 {
  font-size: 1rem;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image {
  display: block;
  width: 300px;
  height: auto;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay i {
  font-size: 50px;
  color: white;
}

.image-container:hover .overlay {
  opacity: 1;
}

.image-container:hover .image {
  filter: brightness(0.7);
}
/* ? GRID SECTION TWO */
/* ? GRID SECTION THREE */

.image.image-circle {
  border-radius: 50%;
}

/* ? PLAYER */

.icons-left {
  padding: 0 10px;
}

.icons-left i {
  color: var(--text-off);
}

.icons-left i:hover {
  color: var(--text-on);
  cursor: pointer;
}

.fa-heart {
  padding-right: 10px;
}

#player h3 {
  padding-bottom: 3px;
}

#player h4:hover {
  color: var(--text-on);
  text-decoration: underline;
  cursor: pointer;
}

#player .fa-2x:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#player {
  display: flex;
  justify-content: space-between;
}

#player .player-col {
  padding: 0.5rem;
}

#player .player-col.song-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#player .song-pic {
  width: 70px;
  height: 70px;
}

.song-controls-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 50%;
}

#player .song-bar > div {
  display: flex;
  align-items: center;
}

#player .song-bar {
  display: flex;
  gap: 1rem;
  height: 50%;
}

#player .progress-bar-container {
  flex-grow: 1;
}

.progress-bar {
  display: block;
  width: 280px;
  height: 3px;
  border-radius: 2px;
  background-color: var(--text-off);
}

.progress-bar.small {
  display: block;
  width: 100px;
  height: 3px;
  border-radius: 2px;
  background-color: var(--text-off);
}

.progress-bar > .progress {
  display: block;
  height: 3px;
  background-color: var(--text-on);
  border-radius: 2px;
  width: 30%;
}

.progress-bar:hover {
  cursor: pointer;
}

.progress-bar:hover .progress {
  background-color: var(--text-green);
}

.progress-bar:hover .progress-ball {
  display: block;
}

.progress-bar > .progress {
  display: block;
  height: 3px;
  background-color: var(--text-on);
  border-radius: 2px;
  width: 30%;

  position: relative;
}

.progress > .progress-ball {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);

  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  display: none;
}

.settings-controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

/*
! *************************
!        RESPONSIVE       *
! *************************
*/
/* ? MEDIUM */

@media screen and (max-width: 992px) {
  .row {
    flex-wrap: wrap;
  }

  .col {
    width: calc(100% / 4);
  }
}

/* ? SMALL*/

@media screen and (max-width: 768px) {
  .col {
    width: calc(100% / 2);
  }

  .progress-bar {
    width: 180px;
  }

  .progress-bar.small {
    width: 70px;
  }

  .settings-controls {
    flex-wrap: wrap;
  }

  #player .player-col.song-info {
    gap: 0.5rem;
  }
}

/* ? EXTRASMALL*/

@media screen and (max-width: 576px) {
  #nav-menu {
    width: 50px;
  }

  .progress-bar {
    width: 100px;
  }

  .progress-bar.small {
    width: 50px;
  }

  .song-controls-icons {
    gap: 1rem;
  }
}
